<a href="https://colab.research.google.com/github/e-margot/TinAnal/blob/main/Convert_json_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Import libs

In [2]:
import json
import pandas as pd

# Preparing json 
(id, age, has_social, gender, is_smoking, interests, photos)

In [ ]:
f = open('/content/drive/MyDrive/TinAnal/men.json', encoding='utf-8')
ph = []
interests = []
data = json.load(f)
for i in data:
    de = []
    for j in i['options']:
      de.append(j['id'])
    for n in j['selections']:
      for m in i['photos']:
        ph.append(m['filename'])
      for inter in i['interests']:
        interests.append(inter['name'])
      with open('/content/drive/MyDrive/TinAnal/men_2.json', 'r+') as file:
        file_data = json.load(file)
        if 'de_11' in de:
          if j['id'] == 'de_11':
            if not interests:
              new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': n['name'], 'interests': ['None'],'photos': ph}
            else:
              new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': n['name'], 'interests': interests,'photos': ph}
        else:
          if not interests:
            new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': 'None', 'interests': ['None'], 'photos': ph}
          else:
            new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': 'None', 'interests': interests, 'photos': ph}
        file_data.append(new)
        file.seek(0)
        json.dump(file_data, file, indent = 4, ensure_ascii=False)
        ph.clear()
        interests.clear()


f.close()

read new json

In [ ]:
with open('/content/drive/MyDrive/TinAnal/men_2.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('/content/drive/MyDrive/TinAnal/men_2.csv', encoding='utf-8', index=False)

In [3]:
df = pd.read_csv('/content/drive/MyDrive/TinAnal/women_final.csv')

add age groups to csv

In [4]:
df

,Unnamed: 0,id,age,has_social,gender,is_smoke,interests,photos,flower,smoker,pet,cell phone,alco,car,emo,neckline,torso,hips,kind
0,0,62e13a41c27068010043fc1b,21,True,woman,Не курю,"['Инвестирование', 'Медитация', 'Спорт', 'Путе...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",True,True,False,False,False,False,False,True,True,False,False
1,1,62ee25b401fd790100354525,34,False,woman,None,"['Танцы', 'Балет', 'Активный образ жизни', 'Сп...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",True,True,False,False,False,False,False,True,False,True,False
2,2,628e4f5b9486220100784892,27,False,woman,Не курю,"['Занятия на свежем воздухе', 'Путешествия', '...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",True,False,False,True,False,True,False,False,True,False,False
3,3,5dc7e16f30bdf601001f16b0,36,False,woman,None,None,"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",False,True,False,True,False,True,True,True,False,False,False
4,4,613d2872ecc1fe0100189693,37,False,woman,None,"['Спорт', 'Тренировки', 'Чай', 'Фильмы', 'Фото...","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",False,True,False,True,True,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,632197f8edb6ed010040aa9c,30,False,woman,None,None,['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],False,False,False,False,False,False,False,False,False,False,False
496,496,6183b6de5566a10100ea28a9,33,False,woman,Не курю,"['Ходьба', 'Бег', 'Фильмы', 'Чтение', 'Спорт']","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",True,True,False,False,False,False,True,False,False,False,False
497,497,627229c64b13430100f34268,29,False,woman,Не курю,"['Музей', 'Инвестирование', 'Фотография']","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",False,False,False,False,False,False,True,False,True,False,False
498,498,62eebb55cc7a2b01007125e0,32,False,woman,Не курю,"['Чтение', 'Кофе', 'Вино']","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",True,False,False,True,True,True,True,False,False,False,False
499,499,6154192a8408f90100720b6f,32,False,woman,None,"['Кофе', 'Покупки', 'Вино', 'Музыка', 'Плавание']","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",True,False,False,True,False,True,False,False,False,False,False

In [5]:
# her we define the threshhold or our age groups
age_groups = [0, 20, 25, 30, 35, 40, 55, 100]

# and for convenience we give each of them a handy label
age_group_names = ['<20', '21-25', '26-30', '31-35', '36-40', '41-55', '>55']

In [6]:
df['Age group'] = pd.cut(
    df['age'], bins=age_groups, labels=age_group_names)

df

,Unnamed: 0,id,age,has_social,gender,is_smoke,interests,photos,flower,smoker,pet,cell phone,alco,car,emo,neckline,torso,hips,kind,Age group
0,0,62e13a41c27068010043fc1b,21,True,woman,Не курю,"['Инвестирование', 'Медитация', 'Спорт', 'Путе...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",True,True,False,False,False,False,False,True,True,False,False,21-25
1,1,62ee25b401fd790100354525,34,False,woman,None,"['Танцы', 'Балет', 'Активный образ жизни', 'Сп...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",True,True,False,False,False,False,False,True,False,True,False,31-35
2,2,628e4f5b9486220100784892,27,False,woman,Не курю,"['Занятия на свежем воздухе', 'Путешествия', '...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",True,False,False,True,False,True,False,False,True,False,False,26-30
3,3,5dc7e16f30bdf601001f16b0,36,False,woman,None,None,"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",False,True,False,True,False,True,True,True,False,False,False,36-40
4,4,613d2872ecc1fe0100189693,37,False,woman,None,"['Спорт', 'Тренировки', 'Чай', 'Фильмы', 'Фото...","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",False,True,False,True,True,False,True,True,False,False,False,36-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,632197f8edb6ed010040aa9c,30,False,woman,None,None,['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],False,False,False,False,False,False,False,False,False,False,False,26-30
496,496,6183b6de5566a10100ea28a9,33,False,woman,Не курю,"['Ходьба', 'Бег', 'Фильмы', 'Чтение', 'Спорт']","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",True,True,False,False,False,False,True,False,False,False,False,31-35
497,497,627229c64b13430100f34268,29,False,woman,Не курю,"['Музей', 'Инвестирование', 'Фотография']","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",False,False,False,False,False,False,True,False,True,False,False,26-30
498,498,62eebb55cc7a2b01007125e0,32,False,woman,Не курю,"['Чтение', 'Кофе', 'Вино']","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",True,False,False,True,True,True,True,False,False,False,False,31-35
499,499,6154192a8408f90100720b6f,32,False,woman,None,"['Кофе', 'Покупки', 'Вино', 'Музыка', 'Плавание']","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",True,False,False,True,False,True,False,False,False,False,False,31-35

# Table analysis

In [7]:
a = df.groupby('is_smoke')['is_smoke'].count()/int(df['id'].count())*100
a

is_smoke
None                 51.0
Курю                  3.4
Курю за компанию      2.2
Курю, когда выпью     0.6
Не курю              42.8
Name: is_smoke, dtype: float64

In [ ]:
a = df.groupby('is_smoke')['is_smoke'].count()/500*100
a

is_smoke
None                 51.4
Курю                 17.4
Курю за компанию      4.2
Курю, когда выпью     3.2
Не курю              29.6
Name: is_smoke, dtype: float64

In [ ]:
df.groupby('is_smoke')['is_smoke'].count()

is_smoke
None                 257
Курю                  87
Курю за компанию      21
Курю, когда выпью     16
Не курю              148
Name: is_smoke, dtype: int64

In [ ]:
is_smoke = df.groupby(['is_smoke', 'Age group'])['is_smoke'].count()

In [ ]:
is_smoke.to_csv('/content/drive/MyDrive/TinAnal/anal_women_is_smoke.csv')

bin analysis

In [8]:
smoker = df.groupby(['smoker', 'Age group'])['smoker'].count()/int(df['id'].count())*100

In [11]:
smoker

smoker  Age group
False   <20           1.4
        21-25         7.6
        26-30        10.6
        31-35        14.0
        36-40        11.0
        41-55         0.8
        >55           0.0
True    <20           2.4
        21-25         6.0
        26-30         9.6
        31-35        19.4
        36-40        16.0
        41-55         1.2
        >55           0.0
Name: smoker, dtype: float64

In [9]:
flower = df.groupby(['flower', 'Age group'])['flower'].count()/int(df['id'].count())*100

In [10]:
pet = df.groupby(['pet', 'Age group'])['pet'].count()/int(df['id'].count())*100

In [12]:
cell_phone = df.groupby(['cell phone', 'Age group'])['cell phone'].count()/int(df['id'].count())*100

In [13]:
alco = df.groupby(['alco', 'Age group'])['alco'].count()/int(df['id'].count())*100

In [14]:
car = df.groupby(['car', 'Age group'])['car'].count()/int(df['id'].count())*100

In [15]:
emo = df.groupby(['emo', 'Age group'])['emo'].count()/int(df['id'].count())*100

In [16]:
has_social = df.groupby(['has_social', 'Age group'])['has_social'].count()/int(df['id'].count())*100

In [18]:
df = df.rename(columns={'kind': 'kid'})

In [19]:
kids = df.groupby(['kid', 'Age group'])['kid'].count()/int(df['id'].count())*100

In [22]:
torso = df.groupby(['torso', 'Age group'])['torso'].count()/int(df['id'].count())*100

In [23]:
hips = df.groupby(['hips', 'Age group'])['hips'].count()/int(df['id'].count())*100

In [24]:
neckline = df.groupby(['neckline', 'Age group'])['neckline'].count()/int(df['id'].count())*100

In [26]:
smoker.to_frame()
flower.to_frame()
pet.to_frame()
cell_phone.to_frame()
alco.to_frame()
car.to_frame()
emo.to_frame()
has_social.to_frame()
torso.to_frame()
kids.to_frame()
hips.to_frame()
neckline.to_frame()

                    neckline
neckline Age group
False    <20             1.0
         21-25           5.8
         26-30           9.8
         31-35          17.6
         36-40          16.6
         41-55           0.4
         >55             0.0
True     <20             2.8
         21-25           7.8
         26-30          10.4
         31-35          15.8
         36-40          10.4
         41-55           1.6
         >55             0.0

concat all parameters to csv

In [ ]:
frames = [smoker, flower, pet, cell_phone, alco, car, emo, has_social, torso, hips, kids]

In [ ]:
res = pd.concat(frames, axis = 1, join = "inner")

In [ ]:
res

                 smoker  flower  pet  cell phone  alco  car  emo  has_social
      Age group
False <20             7      11   19           8    17   18    9          16
      21-25          38      40   68          38    67   64   38          64
      26-30          53      60  101          67    98   95   32          96
      31-35          70      89  166         111   156  147   47         162
      36-40          55      82  134          85   131  125   34         133
      41-55           4       3   10           5    10   10    4           9
      >55             0       0    0           0     0    0    0           0
True  <20            12       8    0          11     2    1   10           3
      21-25          30      28    0          30     1    4   30           4
      26-30          48      41    0          34     3    6   69           5
      31-35          97      78    1          56    11   20  120           5
      36-40          80      53    1          50     4   10  101           2
      41-55           6       7    0           5     0    0    6           1
      >55             0       0    0           0     0    0    0           0

In [ ]:
res.to_csv('/content/drive/MyDrive/TinAnal/anal_women.csv')

# interests

read csv with convert interests to list

In [27]:
# her we define the threshhold or our age groups
age_groups = [0, 20, 25, 30, 35, 40, 55, 100]

# and for convenience we give each of them a handy label
age_group_names = ['<20', '21-25', '26-30', '31-35', '36-40', '41-55', '>55']

In [28]:
from ast import literal_eval
d = pd.read_csv('/content/drive/MyDrive/TinAnal/women_2.csv', converters={'interests': literal_eval})
d

,id,age,has_social,gender,is_smoke,interests,photos
0,62e13a41c27068010043fc1b,21,True,woman,Не курю,"[Инвестирование, Медитация, Спорт, Путешествия...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '..."
1,62ee25b401fd790100354525,34,False,woman,None,"[Танцы, Балет, Активный образ жизни, Спортзал,...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '..."
2,628e4f5b9486220100784892,27,False,woman,Не курю,"[Занятия на свежем воздухе, Путешествия, Инвес...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '..."
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,[None],"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '..."
4,613d2872ecc1fe0100189693,37,False,woman,None,"[Спорт, Тренировки, Чай, Фильмы, Фотография]","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '..."
...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,[None],['408a9a05-2744-4537-92da-5eebe3b641e7.jpg']
496,6183b6de5566a10100ea28a9,33,False,woman,Не курю,"[Ходьба, Бег, Фильмы, Чтение, Спорт]","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '..."
497,627229c64b13430100f34268,29,False,woman,Не курю,"[Музей, Инвестирование, Фотография]","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '..."
498,62eebb55cc7a2b01007125e0,32,False,woman,Не курю,"[Чтение, Кофе, Вино]","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '..."
499,6154192a8408f90100720b6f,32,False,woman,None,"[Кофе, Покупки, Вино, Музыка, Плавание]","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '..."

add age groups

In [29]:
d['Age group'] = pd.cut(
    d['age'], bins=age_groups, labels=age_group_names)

d

,id,age,has_social,gender,is_smoke,interests,photos,Age group
0,62e13a41c27068010043fc1b,21,True,woman,Не курю,"[Инвестирование, Медитация, Спорт, Путешествия...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",21-25
1,62ee25b401fd790100354525,34,False,woman,None,"[Танцы, Балет, Активный образ жизни, Спортзал,...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",31-35
2,628e4f5b9486220100784892,27,False,woman,Не курю,"[Занятия на свежем воздухе, Путешествия, Инвес...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",26-30
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,[None],"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",36-40
4,613d2872ecc1fe0100189693,37,False,woman,None,"[Спорт, Тренировки, Чай, Фильмы, Фотография]","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",36-40
...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,[None],['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],26-30
496,6183b6de5566a10100ea28a9,33,False,woman,Не курю,"[Ходьба, Бег, Фильмы, Чтение, Спорт]","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",31-35
497,627229c64b13430100f34268,29,False,woman,Не курю,"[Музей, Инвестирование, Фотография]","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",26-30
498,62eebb55cc7a2b01007125e0,32,False,woman,Не курю,"[Чтение, Кофе, Вино]","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",31-35
499,6154192a8408f90100720b6f,32,False,woman,None,"[Кофе, Покупки, Вино, Музыка, Плавание]","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",31-35

count interests for all persons

In [30]:
w_dict = {}
for i in d["interests"]:
    for j in i:
        if j not in w_dict:
            w_dict[j] = 1
        else:
            w_dict[j] += 1

In [31]:
def to_1D(series):
 return pd.Series([x for _list in series for x in _list])

In [32]:
data_int = to_1D(d['interests']).value_counts()

In [33]:
data_int

Путешествия              169
Чтение                    97
None                      96
Фильмы                    83
Спорт                     72
                        ...
Винтажная мода             1
Спортивная гимнастика      1
Мир во всем мире           1
Хип-хоп                    1
Кроссовки                  1
Length: 178, dtype: int64

DataFrame with interests

In [34]:
data_int.to_frame()

                         0
Путешествия            169
Чтение                  97
None                    96
Фильмы                  83
Спорт                   72
...                    ...
Винтажная мода           1
Спортивная гимнастика    1
Мир во всем мире         1
Хип-хоп                  1
Кроссовки                1

[178 rows x 1 columns]

save as csv

In [35]:
data_int.to_csv('/content/drive/MyDrive/TinAnal/women_interests.csv')

In [36]:
inter = pd.read_csv('/content/drive/MyDrive/TinAnal/women_interests.csv')

In [37]:
inter

                Unnamed: 0    0
0              Путешествия  169
1                   Чтение   97
2                     None   96
3                   Фильмы   83
4                    Спорт   72
..                     ...  ...
173         Винтажная мода    1
174  Спортивная гимнастика    1
175       Мир во всем мире    1
176                Хип-хоп    1
177              Кроссовки    1

[178 rows x 2 columns]

In [38]:
inter = inter.rename(columns={'Unnamed: 0': 'interests', '0': 'count'})

In [39]:
inter.set_index('interests').T.to_dict('record')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  """Entry point for launching an IPython kernel.

[{'Путешествия': 169,
  'Чтение': 97,
  'None': 96,
  'Фильмы': 83,
  'Спорт': 72,
  'Музыка': 68,
  'Кофе': 68,
  'Искусство': 63,
  'Тренировки': 45,
  'Вино': 45,
  'Танцы': 41,
  'Фотография': 38,
  'Спортзал': 37,
  'Ходьба': 37,
  'Языковой обмен': 36,
  'Активный образ жизни': 33,
  'Йога': 32,
  'Уход за собой': 29,
  'Выставки': 28,
  'Медитация': 28,
  'Кулинария': 23,
  'Музей': 22,
  'Мода': 22,
  'Бег': 22,
  'Чай': 19,
  'Настольные игры': 19,
  'Занятия на свежем воздухе': 17,
  'Духовность': 17,
  'Комедия': 16,
  'Netflix': 16,
  'Плавание': 15,
  'Горы': 15,
  'Instagram': 14,
  'Любитель(ница) собак': 14,
  'Предпринимательство': 14,
  'Тусовки': 13,
  'Пикник': 12,
  'Пеший туризм': 12,
  'Дети 90-х': 12,
  'Рисование': 12,
  'Инвестирование': 12,
  'Гурман(ка)': 11,
  'Рисовать': 11,
  'Татуировки': 11,
  'Любитель(ница) кошек': 11,
  'Домашние тренировки': 10,
  'Велоспорт': 10,
  'Сериалы': 10,
  'Покупки': 9,
  'Саморазвитие': 9,
  'Поэзия': 9,
  'Стендап-комедия': 9,
  'Караоке': 9,
  'Суши': 8,
  'Мемы': 8,
  'Самодельничество': 8,
  'Мороженое': 8,
  'Волонтёрство': 8,
  'Политика': 8,
  'Театр': 8,
  'Галереи искусств': 7,
  'Пробовать что-то новое': 7,
  'Дорожные путешествия': 7,
  'Походы': 7,
  'Рыбалка': 7,
  'Автомобили': 7,
  'Концерты': 7,
  'Выпечка': 7,
  'NFT': 6,
  'Просмотр сериалов': 6,
  'Макияж': 6,
  'Русский рок': 6,
  'Гурманский тур': 6,
  'Крафтовое пиво': 6,
  'Сёрфинг': 5,
  'Тур по барам': 5,
  'Сноубординг': 5,
  'Астрология': 5,
  'Дисней': 5,
  'Клубы': 5,
  'Стартапы': 4,
  'Электронная музыка': 4,
  'Подземелья и драконы': 4,
  'Изменение климата': 4,
  'Волейбол': 4,
  'Недвижимость': 4,
  'Садоводство': 4,
  'Бранч': 4,
  'Катание на лыжах': 4,
  'Походы по кафе': 3,
  'Скалолазание': 3,
  'Катание на роликах': 3,
  'Автогонки': 3,
  'Фридайвинг': 3,
  'Горячие источники': 3,
  'Квесты': 3,
  'Повар-любитель': 3,
  'Русский рэп': 3,
  'Мотоциклы': 3,
  'Коллекционирование': 3,
  'Блогинг': 3,
  'Аниме': 3,
  'Создание контента': 2,
  'Теннис': 2,
  'Хоккей': 2,
  'Спа': 2,
  'Баскетбол': 2,
  'Парусный спорт': 2,
  'Джин с тоником': 2,
  'YouTube': 2,
  'Литература': 2,
  'Кальян': 2,
  'Феминизм': 2,
  'Чай с шариками': 2,
  'Бокс': 2,
  'Защита природы': 2,
  'Спортсмен(ка)': 2,
  'Отдых в барах': 2,
  'Мотоспорт': 2,
  'TikTok': 2,
  'Кроссфит': 2,
  'Горячая йога': 2,
  'DAO (ДАО)': 2,
  'Рок': 2,
  'Рейв': 2,
  'Twitch': 2,
  'Писатель(ница)': 2,
  'Инвестиции': 2,
  'Marvel': 2,
  'Фестивали': 2,
  'Бадминтон': 1,
  'Поэтический слэм': 1,
  'Одежда из секонд-хенда': 1,
  'Уход за кожей': 1,
  'Коньки': 1,
  'Гольф': 1,
  'Права ЛГБТК+': 1,
  'Пилатес': 1,
  'Манга': 1,
  'Викторины в пабе': 1,
  'Пропустить стаканчик': 1,
  'Пляжные бары': 1,
  'Гимнастика': 1,
  'Военный': 1,
  'Барбекю': 1,
  'Фильмы о привидениях': 1,
  'Фондовая биржа': 1,
  'Сап-серфинг': 1,
  'Красиво писать': 1,
  'Метавселенная': 1,
  'Таро': 1,
  'Соцсети': 1,
  'Футбол': 1,
  'Реггетон': 1,
  'Жаркое из свинины': 1,
  'Косплей': 1,
  'Автоспорт': 1,
  'Викторины': 1,
  'Боевые искусства': 1,
  'Городские праздники': 1,
  'Бродвей': 1,
  'Холодный чай': 1,
  'Онлайн-игры': 1,
  'Harry Potter': 1,
  'Видеоблогинг': 1,
  'Скейтбординг': 1,
  'Балет': 1,
  'Кофейня': 1,
  'Тренировка Bodypump': 1,
  'Музыкальный инструмент': 1,
  'Научная фантастика': 1,
  'Кемпинг': 1,
  'Крикет': 1,
  'Винтажная мода': 1,
  'Спортивная гимнастика': 1,
  'Мир во всем мире': 1,
  'Хип-хоп': 1,
  'Кроссовки': 1}]

please, copy the dict from the cell above to "unique_items"

In [40]:
unique_items = {'Путешествия': 169,
  'Чтение': 97,
  'None': 96,
  'Фильмы': 83,
  'Спорт': 72,
  'Музыка': 68,
  'Кофе': 68,
  'Искусство': 63,
  'Тренировки': 45,
  'Вино': 45,
  'Танцы': 41,
  'Фотография': 38,
  'Спортзал': 37,
  'Ходьба': 37,
  'Языковой обмен': 36,
  'Активный образ жизни': 33,
  'Йога': 32,
  'Уход за собой': 29,
  'Выставки': 28,
  'Медитация': 28,
  'Кулинария': 23,
  'Музей': 22,
  'Мода': 22,
  'Бег': 22,
  'Чай': 19,
  'Настольные игры': 19,
  'Занятия на свежем воздухе': 17,
  'Духовность': 17,
  'Комедия': 16,
  'Netflix': 16,
  'Плавание': 15,
  'Горы': 15,
  'Instagram': 14,
  'Любитель(ница) собак': 14,
  'Предпринимательство': 14,
  'Тусовки': 13,
  'Пикник': 12,
  'Пеший туризм': 12,
  'Дети 90-х': 12,
  'Рисование': 12,
  'Инвестирование': 12,
  'Гурман(ка)': 11,
  'Рисовать': 11,
  'Татуировки': 11,
  'Любитель(ница) кошек': 11,
  'Домашние тренировки': 10,
  'Велоспорт': 10,
  'Сериалы': 10,
  'Покупки': 9,
  'Саморазвитие': 9,
  'Поэзия': 9,
  'Стендап-комедия': 9,
  'Караоке': 9,
  'Суши': 8,
  'Мемы': 8,
  'Самодельничество': 8,
  'Мороженое': 8,
  'Волонтёрство': 8,
  'Политика': 8,
  'Театр': 8,
  'Галереи искусств': 7,
  'Пробовать что-то новое': 7,
  'Дорожные путешествия': 7,
  'Походы': 7,
  'Рыбалка': 7,
  'Автомобили': 7,
  'Концерты': 7,
  'Выпечка': 7,
  'NFT': 6,
  'Просмотр сериалов': 6,
  'Макияж': 6,
  'Русский рок': 6,
  'Гурманский тур': 6,
  'Крафтовое пиво': 6,
  'Сёрфинг': 5,
  'Тур по барам': 5,
  'Сноубординг': 5,
  'Астрология': 5,
  'Дисней': 5,
  'Клубы': 5,
  'Стартапы': 4,
  'Электронная музыка': 4,
  'Подземелья и драконы': 4,
  'Изменение климата': 4,
  'Волейбол': 4,
  'Недвижимость': 4,
  'Садоводство': 4,
  'Бранч': 4,
  'Катание на лыжах': 4,
  'Походы по кафе': 3,
  'Скалолазание': 3,
  'Катание на роликах': 3,
  'Автогонки': 3,
  'Фридайвинг': 3,
  'Горячие источники': 3,
  'Квесты': 3,
  'Повар-любитель': 3,
  'Русский рэп': 3,
  'Мотоциклы': 3,
  'Коллекционирование': 3,
  'Блогинг': 3,
  'Аниме': 3,
  'Создание контента': 2,
  'Теннис': 2,
  'Хоккей': 2,
  'Спа': 2,
  'Баскетбол': 2,
  'Парусный спорт': 2,
  'Джин с тоником': 2,
  'YouTube': 2,
  'Литература': 2,
  'Кальян': 2,
  'Феминизм': 2,
  'Чай с шариками': 2,
  'Бокс': 2,
  'Защита природы': 2,
  'Спортсмен(ка)': 2,
  'Отдых в барах': 2,
  'Мотоспорт': 2,
  'TikTok': 2,
  'Кроссфит': 2,
  'Горячая йога': 2,
  'DAO (ДАО)': 2,
  'Рок': 2,
  'Рейв': 2,
  'Twitch': 2,
  'Писатель(ница)': 2,
  'Инвестиции': 2,
  'Marvel': 2,
  'Фестивали': 2,
  'Бадминтон': 1,
  'Поэтический слэм': 1,
  'Одежда из секонд-хенда': 1,
  'Уход за кожей': 1,
  'Коньки': 1,
  'Гольф': 1,
  'Права ЛГБТК+': 1,
  'Пилатес': 1,
  'Манга': 1,
  'Викторины в пабе': 1,
  'Пропустить стаканчик': 1,
  'Пляжные бары': 1,
  'Гимнастика': 1,
  'Военный': 1,
  'Барбекю': 1,
  'Фильмы о привидениях': 1,
  'Фондовая биржа': 1,
  'Сап-серфинг': 1,
  'Красиво писать': 1,
  'Метавселенная': 1,
  'Таро': 1,
  'Соцсети': 1,
  'Футбол': 1,
  'Реггетон': 1,
  'Жаркое из свинины': 1,
  'Косплей': 1,
  'Автоспорт': 1,
  'Викторины': 1,
  'Боевые искусства': 1,
  'Городские праздники': 1,
  'Бродвей': 1,
  'Холодный чай': 1,
  'Онлайн-игры': 1,
  'Harry Potter': 1,
  'Видеоблогинг': 1,
  'Скейтбординг': 1,
  'Балет': 1,
  'Кофейня': 1,
  'Тренировка Bodypump': 1,
  'Музыкальный инструмент': 1,
  'Научная фантастика': 1,
  'Кемпинг': 1,
  'Крикет': 1,
  'Винтажная мода': 1,
  'Спортивная гимнастика': 1,
  'Мир во всем мире': 1,
  'Хип-хоп': 1,
  'Кроссовки': 1}

Apply boolean mask

In [41]:
def boolean_df(item_lists, unique_items):
# Create empty dict
    bool_dict = {}
    
    # Loop through all the tags
    for i, item in enumerate(unique_items):
        
        # Apply boolean mask
        bool_dict[item] = item_lists.apply(lambda x: item in x)
            
    # Return the results as a dataframe
    return pd.DataFrame(bool_dict)

In [42]:
interests_bool = boolean_df(d['interests'], unique_items.keys())

In [43]:
interests_bool

,Путешествия,Чтение,None,Фильмы,Спорт,Музыка,Кофе,Искусство,Тренировки,Вино,...,Тренировка Bodypump,Музыкальный инструмент,Научная фантастика,Кемпинг,Крикет,Винтажная мода,Спортивная гимнастика,Мир во всем мире,Хип-хоп,Кроссовки
0,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
496,False,True,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
498,False,True,False,False,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,True,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False

concat with main DataFrame

In [44]:
frame = [d, interests_bool]

In [45]:
res = pd.concat(frame, axis = 1, join = "inner")

In [46]:
res

,id,age,has_social,gender,is_smoke,interests,photos,Age group,Путешествия,Чтение,...,Тренировка Bodypump,Музыкальный инструмент,Научная фантастика,Кемпинг,Крикет,Винтажная мода,Спортивная гимнастика,Мир во всем мире,Хип-хоп,Кроссовки
0,62e13a41c27068010043fc1b,21,True,woman,Не курю,"[Инвестирование, Медитация, Спорт, Путешествия...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",21-25,True,False,...,False,False,False,False,False,False,False,False,False,False
1,62ee25b401fd790100354525,34,False,woman,None,"[Танцы, Балет, Активный образ жизни, Спортзал,...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",31-35,False,False,...,False,False,False,False,False,False,False,False,False,False
2,628e4f5b9486220100784892,27,False,woman,Не курю,"[Занятия на свежем воздухе, Путешествия, Инвес...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",26-30,True,False,...,False,False,False,False,False,False,False,False,False,False
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,[None],"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",36-40,False,False,...,False,False,False,False,False,False,False,False,False,False
4,613d2872ecc1fe0100189693,37,False,woman,None,"[Спорт, Тренировки, Чай, Фильмы, Фотография]","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",36-40,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,[None],['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],26-30,False,False,...,False,False,False,False,False,False,False,False,False,False
496,6183b6de5566a10100ea28a9,33,False,woman,Не курю,"[Ходьба, Бег, Фильмы, Чтение, Спорт]","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",31-35,False,True,...,False,False,False,False,False,False,False,False,False,False
497,627229c64b13430100f34268,29,False,woman,Не курю,"[Музей, Инвестирование, Фотография]","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",26-30,False,False,...,False,False,False,False,False,False,False,False,False,False
498,62eebb55cc7a2b01007125e0,32,False,woman,Не курю,"[Чтение, Кофе, Вино]","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",31-35,False,True,...,False,False,False,False,False,False,False,False,False,False
499,6154192a8408f90100720b6f,32,False,woman,None,"[Кофе, Покупки, Вино, Музыка, Плавание]","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",31-35,False,False,...,False,False,False,False,False,False,False,False,False,False

In [47]:
travel = res.groupby(['Путешествия', 'Age group'])['Путешествия'].count()/int(d['id'].count())*100

In [49]:
reading = res.groupby(['Чтение', 'Age group'])['Чтение'].count()/int(df['id'].count())*100

In [51]:
Non = res.groupby(['None', 'Age group'])['None'].count()/int(d['id'].count())*100

In [53]:
films = res.groupby(['Фильмы', 'Age group'])['Фильмы'].count()/int(d['id'].count())*100

In [55]:
music = res.groupby(['Музыка', 'Age group'])['Музыка'].count()/int(d['id'].count())*100

In [56]:
music

Музыка  Age group
False   <20           3.2
        21-25        11.6
        26-30        16.2
        31-35        29.8
        36-40        23.8
        41-55         1.8
        >55           0.0
True    <20           0.6
        21-25         2.0
        26-30         4.0
        31-35         3.6
        36-40         3.2
        41-55         0.2
        >55           0.0
Name: Музыка, dtype: float64

In [57]:
sport = res.groupby(['Спорт', 'Age group'])['Спорт'].count()/int(d['id'].count())*100

In [59]:
travel.to_frame()
sport.to_frame()
music.to_frame()
films.to_frame()
Non.to_frame()
reading.to_frame()

                  Чтение
Чтение Age group
False  <20           3.2
       21-25        11.4
       26-30        15.8
       31-35        28.2
       36-40        20.4
       41-55         1.6
       >55           0.0
True   <20           0.6
       21-25         2.2
       26-30         4.4
       31-35         5.2
       36-40         6.6
       41-55         0.4
       >55           0.0

In [60]:
frames = [travel, reading, Non, films, music, sport, smoker, flower, pet, cell_phone, alco, car, emo, has_social, torso, hips, kids, neckline]

In [61]:
result = pd.concat(frames, axis = 1, join = "inner")

In [62]:
result.to_csv('/content/drive/MyDrive/TinAnal/women_results.csv')